---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Leaderboard from '../components/Leaderboard.astro';
import GettingStarted from '../components/GettingStarted.astro';
import Competitions from '../components/Competitions.astro';
import Footer from '../components/Footer.astro';

import landing from '../data/landing.json';
---

<Layout
  title={landing.site.title}
  description={landing.site.description}
  canonicalUrl={landing.site.url}
  ogImage={landing.site.ogImage}
  siteName={landing.site.name}
  ogTitle={landing.site.ogTitle}
  ogDescription={landing.site.ogDescription}
  lang={landing.site.lang}
>
  <Header />
  <main>
    <Hero {...landing.hero} />
    <GettingStarted {...landing.gettingStarted} />
    <Competitions {...landing.competitions} />
    <Leaderboard {...landing.ranking} />
  </main>
  <Footer {...landing.footer} />
</Layout>
